<%= form_for(:forecast, :url => {:action => 'update', :id => @forecast.id, :project_id => @project.id}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>

	<%= submit_tag("Update Data") %>

<% end %>
</div>