<div class="forecasted_area">
  <div class="col-md-4">
    <table class="table table-hover">
      <thead>
       <tr>
        <th>Future Time</th>
        <th>Forecasted Data</th>
       </tr>
      </thead>
      </tbody>
       <tr>
        <% @project_api.future_apis.each do |future| %>
        <tr>
          <td><%= future.future_api_year %></td>
          <td><%= number_with_precision(future.forecasted, :precision => 2) %></td>
          <td><%= link_to "Edit", edit_user_project_api_future_api_path(:user_id => @current_user.id, :project_api_id => future.project_api.id, :id => future.id), :class=>"btn btn-success", :remote => true, :id => "edit_future" %></td>
          <td><%= link_to "Delete", future_api_path(:project_api_id => future.project_api.id, :id => future.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger delete", :remote => true, :id => "delete_future" %></td>
        </tr>
        <%end%>
       </tr>
      </tbody>
    </table>
  </div>
</div> <!-- .forecasted_area --> 