<% @page_title = "Edit User" %>
<%= render(:partial => "form") %>

<div class="cus-form">
	<div class="cus-link">
		<%= link_to "Terminate account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, :class=>"btn btn-danger cus-btn" %>
	</div>
</div>
	