<table class="forecast-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% @forecast_apis.each do |forecast| %>
      <tr>
        <td><%= forecast.forecast_api_year %></td>
        <td><%= forecast.forecast_api_value %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>