
<div>
  <h2>Delete Project</h2>

  <%= form_for(:project, :url => {:action => 'destroy', :id => @project.id }) do |f| %>

    <p>Are you sure you want to permanently delete this project?</p>
    <div>
      <%= submit_tag("Delete project") %>
    </div>

  <% end %>
</div>