<%= form_for(:future, :url => {:action => 'update', :id => @future.id, :project_id => @project.id}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>
	<br>
	<%= submit_tag("Update Data", :class => "btn btn-primary") %>

<% end %>
</div>