<table class="forecast-table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% @forecasts.each do |forecast| %>
        <% end %>
      </tbody>
</table>