<% unless @forecast.errors.any? %>
  $('#forecasts').append( '<%= escape_javascript(
    render @forecast) %>' );
  $('#new-forecast-form-container').find('input:not(:submit),select,textarea').val('');
<% else %>
  var $form = $('#new_forecast'),
      $errorDiv = $('<div id="error_explanation">'),
      $errorList = $('<ul>');
  <% @forecast.errors.full_messages.each do |msg| %>
    $errorList.append('<li><%= escape_javascript msg %></li>');
  <% end %>
  $form.find('#error_explanation').remove();
  $form.prepend($errorDiv.append($errorList));
<% end %>
