
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

.walkthrough {
  width: 100%;
  -moz-box-shadow:    0px 0px 1px 1px #ccc;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc;
  box-shadow:         0px 0px 1px 1px #ccc;
}

.caption {
  margin-left: 0px !important;
  margin-top: 10px !important;
  font-size: 1.2em;
  margin-bottom: 45px;
}

.alert {
  margin-top: 100px;
}

#regLine {
  background-color: #219ab3;
  width: 50px;
  height: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  list-style: none;
}

#dataLine {
  background-color: #ecf0f1;
  width: 50px;
  height: 3px;
  margin-top: 20px; 
  margin-bottom: 5px;
  list-style: none;
}

.legend {
  color: #ecf0f1;
  
}

.project-list {
  margin-left: 90px;
  margin-top: 150px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.current-project {
  color: #ecf0f1;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 90px;
  margin-bottom: -80px;
  margin-left: 95px;
  font-size: 1.5em;
}

.current-project:hover {
  cursor: context-menu;
  color: #219AB3;
}

.download-section {
  margin-top: -150px;
}

.content-section {
  margin-top: -140px;
  margin-bottom: 70px;
}

.formula img:nth-child(6){
  margin-left: -90px;
}

.best_in_place input {
  color: #2c3e50;
}


.more-historical-data, .more-future-data {
  margin-left: 90px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.show-results, .delete-project {
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#resultsBox {
  margin-top: 90px;
  margin-left: 115px;
  margin-right: 115px;
}

.beta {
	font-size: 0.2em;
	color: #219ab3;
	padding-top: 17px;
	position: absolute;
}

.beta-logo {
	font-size: 0.6em;
	color: #219ab3;
	margin-top: -2px;
	position: absolute;
}

.cus-form {
	width: 190px;
	text-align: center;
	margin: 175px auto;
}

label, p {
  color: #ecf0f1;
  font-weight: lighter;
}

.input {
	color: #ecf0f1 !important;
  background-color: #000 !important; 
}

.login-page {
	background: url(https://s3.amazonaws.com/foretoken/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.main-menu{
	width: auto;
	margin-top: 100px;
	margin-left: 100px;
}

.main-menu p {
  margin-bottom: 0px !important;
}

.new_project {
	width: 150px;
}

.cus-btn {
	width: 100%;
}

.login-or {
	margin-bottom: 2px;
}

#filterForm {
  margin-top: 100px;
  margin-left: 100px;
}

.cus-link, .cus-link input {
	margin-bottom: 10px;
	width: 100%; 
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.table {
    width: 60% !important;
}

.future-table {
    width: 25% !important;
}

.results {
  margin-left: -95px;
  width: 40% !important;
}

.projects-table {
  margin-top: -20px;
  margin-left: -75px;
  margin-bottom: 10px;
}

.projects-table tr:hover td {
  background: none !important;
}

.forecast-form, .future-form {
  margin-left: 100px;
  margin-top: -10px;
}

.forecast-form input, .future-form input{
  width: 5%;
}


.main-table {
  width: 60%;
  clear: both;
  margin-left: 90px;
  margin-top: 25px;
  color: #ecf0f1;
  font-weight: lighter !important;
}

.forecast-table th, .future-table th {
  font-weight: lighter !important;
  color: #219ab3;
  border-bottom: 1px solid #219ab3 !important;
}

.forecast-table td, .future-table td {
  font-weight: lighter !important;
  color: #ecf0f1;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

td {
  border-top: none !important;
}

.grey {
  color: #95a5a6 !important;
}

.table tr:hover td {
  background-color: #ecf0f1;
  color: #000 !important;
}

.pointer {
	cursor: context-menu; /*Add something to show editing*/
  color: #219AB3;
}


#flash {
	display: none;
	color: #2c3e50;
}

.success {
	padding: 20px 20px;
	background-color: #DFF0D8;
	border-radius: 5px;
}

.error {
	padding: 20px 20px;
	background-color: #F2DEDE;	
	border-radius: 5px;
}


#crud, #crud_forecasted, #projects, .hide {
	display: none;
}

